body {
    margin: 0;
    padding: 0;
    background: #F9ECAA;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.title {
    background: #2B49C3;
    padding: 1.5em;
    color: #FFF;
}

h1 {
    font-size: 2.5em;
}

h2 {
    color: #0764BF;
    font-size: 1.8em;
}

button {
    padding: 1.2em 2em; 
    background: #EFB577;
    color: #0764BF;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 1em;
}

button:hover {
    cursor: pointer;
    background: #FFF;
    color: #EFB577;
    font-size: 1.1em;
}

.close-modal {
    background: #f1ffff;
    max-width: 27em;
    height: 15em;
    margin: 1em auto;
    padding: 2em;
    border-radius: 1em;
    position: relative;
    top: 20%;
}

.overlay {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
}